

div.background {
  background: url(PUBG-mobile.jpg);
  border: 1px,solid,black;
  height: 100vh;
  width: auto;
  position: static;
  background-repeat: no-repeat;
}

div.transbox {
  margin-top:10px;
  margin-left: 12px;
  border: 1px ;
  opacity: 0.8;
  width: 97vw;
  background-color:rgba(0,0,0,0.747);
  text-align: center;
  border-radius: 30%;
  font-size: 30px;
  color: white;

}



.Squad
{
	font-size: 50px;
	color: white;


}

#squad
{
	height: auto;
	width: auto;
	
	
}

.middle
{
	text-align: left;
}




.top li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: bolder;

}
.middle li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: bolder;
   
}
.bottom li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: bolder;
   
}

#payButton
{
	border-radius: 30%;
	width: 250px;
	height: 100px;
	background-color: blue;

}
#payment 
{
	text-decoration: none;
	color: black;
}

#prizeList
{

	border-radius: 30%;
	width: 250px;
	height: 100px;
	background-color: red;

}

#prize
{
	text-decoration: none;
	color: black;
}

#spot1
{
	box-shadow: 0px 0px 5px 5px #FFFF00;
	border-radius: 50px 50px;

}
